@using DataAccess.Data.Entities;
@model DeckData;
@{
}
<form asp-action="Add" method="post" enctype="multipart/form-data" class="row g-3">
@*<form>*@
<h1><input asp-for="Deck.Title" type="text" value="@Model.Deck.Title"/></h1>
<div>
       @* <form asp-action="Update" asp-controller="EditDeckController" method="post"> *@

        <p>Front:</p>
        <input placeholder="Front data" type="text" id="FrontData" name="FrontData" value="">
        <p>Back</p>
        <input placeholder="Back data" type="text" id="BackData" name="BackData" value="">
        <input placeholder="Deck id" type="text" id="DeckID" name="DeckID" value="">

        <button type="submit">Add</button>
        @*</form>*@
       
    </div>
</form>
<form asp-action="Add" method="post" enctype="multipart/form-data" class="row g-3">

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Front</th>
            <th scope="col">Back</th>
        </tr>
    </thead>
    <tbody>
        @{int i =1;}
        @foreach (var item in Model.Cards)
        {
                <tr>
                    <th scope="row">@i</th>
                    <td>
                        <input placeholder="Front data" type="text" id="FrontData" name="FrontData" value="@item.FrontData">
                    </td>
                    <td><input placeholder="Front data" type="text" id="FrontData" name="FrontData" value="@item.BackData"></td>
                <td>
                    <a asp-action="Add" type="submit">Save</a>
                    <button>Delete</button></td>
            </tr>
                
           i++;
                
            }
    </tbody>
</table>
        <a asp-action="SaveChanges" class="btn btn-success">Save</a>
</form>